%h3
  Editing #{@outgoing_receipt.type_title}
  %small
    = link_to 'Show', @outgoing_receipt, class: 'glyphicon glyphicon-info-sign btn btn-link btn-xs'
    \|
    = link_to 'Back', outgoing_receipts_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'
.row-fluid{data: {no_turbolink: true}}
  = render 'form'
