%h3
  Add #{@outgoing_receipt.type_title}
  %small
    = link_to 'Cancel', outgoing_receipts_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'

.row-fluid{data: {no_turbolink: true}}
  = render 'form'
