%table.table.table-hover.table-responsive.inventory.item
  %thead
    %tr
      %th Description
      %th Part number
      %th Selling price
      %th Total Stock

  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.description, item
        %td= item.part_number
        %td
          .pull-right= number_with_precision(item.selling_price, precision:2)
        %td
          .pull-right.text-success
            %b= number_with_precision(item.total_stock, precision:2)
