%table.table.table-hover.table-responsive.receipts
  %thead
    %tr
      %th Description
      %th Part
      %th Current Stock
      %th Unit Price
      %th SRP

  %tbody
    - items.each do |item|
      %tr
        %td= item.description
        %td= item.part_number
        %td= item.current_stock

        %td= item.selling_price
