%h3
  Update Item #{@item.id}
  %small
    = link_to 'Destroy', @item, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-link btn-xs'
  %small
    = link_to 'Back', items_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'
.row-fluid
  = render 'form'
