// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.width-10 {
  width: 10%;
}
.width-15 {
 width: 15%;
}
.navbar {
  margin-bottom: 0!important;
}

.navbar-default .btn-link, .navbar-default .btn-link:active {
  color: #428bca!important;
}

.navbar-default .btn-link:active {
  background-color: #428bca!important;
}

div.ui-buttonset ul.pagination li.ui-button {
  display: inherit;
  border:none;
}

.form-horizontal {
  .form-group {
  margin-left: 0!important;
  margin-right: 0!important;
  }
}
