.nested-fields
  .field.form-group.col-xs-3
    = label_tag 'Desc'
    = f.text_field :description, class: 'form-control'
  .field.form-group.col-xs-2
    = label_tag 'Part'
    = f.text_field :part_number, class: 'form-control'