.row
  %h1 New Sales Invoice
  .col-xs-12
    .row-fluid.bg-info
      %h3 Stock List
      = render 'inventories/list', :inventories => @inventories
  .col-xs-12
    = render 'form'

= link_to 'Back', receipts_path
