.text-center
  %h2
    SAN RO AUTO TRUCK PARTS SUPPLY CENTER
  %h5
    San Roque, Sto. Tomas, Batangas
  %h5
    Telefax No. (043) 729-5731 Telephone No. (043) 318-2193
  %h5
    Cel. No. 0919-395-3683 / 0921-491-0069
  %br
  %h2=@title
  - if @date_header
    %h3
      = @date_header
      Report
    %h6
      Generated
      = Date.today
  - else
    %h6
      As of
      = Date.today
